*{
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

body{
    
    margin-top: 280px;
    background-color: #f0a10f;
    color: #fff;
}

body h1{
    
    margin-top: 8px;
    text-transform: uppercase;
    text-align: center;
    margin-bottom: 16px;

}



body .formulario{
    
    max-width: 300px;
    display: flex;
    width: 100%;
    margin: 0px auto;
    padding-bottom: 16px;
}

.formulario input, button{

    padding: 8px;
    border-radius: 1cqh;
}

.formulario input{

    
    padding-right: 64px;
    margin-right: 8px;
    background-color: black;
    border: none;
    color: #fff;
}

.formulario button{
    
    background-color: #f0a10f;
    border: none;
    text-transform: uppercase;
    cursor: pointer;
    
}

.formulario button:hover{
    background-color: #b17d1c;
}

.lista{    
    
    background-color: #3b3b3b;
    border-radius: 1ch;
    max-width: 500px;
    width: 100%;
    margin: 0px auto;
    padding: 8px;
    margin-bottom: 8px;
    
    
}

.lista li{
    margin-top: 8px;
    margin-bottom: 8px;
    cursor: pointer;
    
}

.lista li:hover{
    color: #6e4eff;
}

.quadro{
    background-color: #1d1d1d;
    box-shadow: 0px 0px 5px 5px #805608;
    border-radius: 1ch;
    max-width: 800px;   
    width: 100%;
    margin: 0px auto;
    padding: 8px;
}

.riscado{

    text-decoration: line-through rgb(77, 9, 122) 2px;
    

}
